.container {
  border:2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  > {
    display: block;
    padding: 5px;
  }
}

.userPhoto {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.userName{
  align-self: center;
  margin-right: 2rem;
}
