@font-face {
  font-family: 'Poppins';
  src: url(../../../Fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
}
:root {
  --text-color: #141212;
  --btn-length: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

$line-count: 3;

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  line-clamp: $line-count;
  box-orient: vertical;
}
.description {
  @extend %text-overflow;
  $line-height: 1rem;
  line-height: $line-height;
  height: $line-count * $line-height;
}
.responsiveHelper {
  position: relative;
  padding-top: 50%;
}
.image {
  max-width: 100%;
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  object-fit: cover;
}

.title {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: inherit;
}

%btn {
  width: var(--btn-length);
  height: var(--btn-length);
  border: none;
  outline: none;

  font-size: 1.25rem;
  text-align: center;
  color: white;
  background-color: #5367f8;
  border-radius: 50%;

  position: absolute;
  top: calc(50% - var(--btn-length) / 2);
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.btnPrev {
  @extend %btn;
  left: 25px;
}

.btnNext {
  @extend %btn;
  right: 25px;
}

// .fullScreen {
//   position: absolute;
//   // top:0; bottom: 0; left: 0; right: 0;
//   height: 100vh;
//   width: 100vw;
// }
